.body2{
    margin: 0;
    width: 100%;
    height: auto;
    background: rgb(16,0,36);
    background: linear-gradient(198deg, rgba(16,0,36,1) 0%, rgba(230,224,143,1) 35%, rgba(3,24,28,1) 100%);
}
.comofunciona{
    display: flexbox;
    text-align: justify;
    background-color: rgb(247, 247, 247);
    color: rgb(17, 1, 27);
    margin: 0;
}
.text-comofunciona{
    margin: 01% 01% 01% 01%;
    font-size: 1.9em;
    font-weight: bold;
    padding: 01%;
}

.cronometro{
    padding: 02%;
    text-align: center;
    border: blueviolet;
}

.titulo-c{
    font-size: 2.0em;
    font-weight: bold;
}
#comecar{
    background-color: rgb(31, 6, 100);
    text-align: center;
	color: mintcream;
    font-size: 1.5em;
    padding:  02%;
    cursor: pointer;
    border-radius: 10px;
}